
:root {
    --white: #FFFFFF;
    --navy: #335576;
    --orange: #DB7A4E;
    --light-pink: #FEFAF5;
}

body{
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
box-sizing: border-box;
background-color: var(--light-pink);
}

header, footer, section{
    padding: 0em 5.125em;
}

h1, h2, h3, h4, p{
    color: var(--navy);
    margin: 0;
}
h1{
    font-size:2.3em;
}

h2{
    font-size: 1.3em;
}

h3{
    font-size: 1.4em;
    font-weight: 800;
}

p{
    font-size: 14px;
    line-height: 1.3em;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    font-weight: 300;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white); 
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    z-index: 2;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    column-gap: 1.5em;
    margin: 1em auto .5em auto;
}

.nav__item{
    padding-bottom: .5em;
    font-size: .85em;
    transition: all .25s ease-in-out;
}

.nav__item:hover {
border-bottom: .2em solid var(--navy);
}

.nav--active{
    border-bottom: .2em solid var(--orange);
}

.header__logo{
    color: var(--navy);
    font-size: 1.1em;
    font-weight: 600;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding-top:1.5em;
    width: 75%;
    margin: auto;
}

.card{
    border-radius: 5px;
    width: 20vw;
    height: 390px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card__header{
    color: var(--white);
    padding: 0 .75em .75em 0;
    font-size: 1.3em;
}
.card--image{
    background-position: center;
    background-size: cover;
    opacity: .9;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all .05s ease-in-out;
}

.card--image:hover{
    opacity: 0.5;
}

.card__list{
    padding: 0;
    margin: 0;
}

.card--one{
    background-image: url(../assets/images/hawaii.jpg);
}

.card--two{
    background-image: url(../assets/images/iceland.jpg);
}

.card--three{
    background-image: url(../assets/images/greece.jpg);
}

.footer{
    background-color: var(--light-pink);
    padding-top: 3em;
    padding-bottom: 3em;
}
.footer__info{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

.article__list{
    display: flex;
    column-gap: 2em;
}

.article__eyebrow{
    color: var(--orange);
    font-size: 9px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top: 0;
}
.article__header{
    margin-bottom: 1.25em;
}

.article__social{
    display: flex;
    justify-content: flex-end;
   height: 23px;
    position: relative;
    top: 5px;
    column-gap: 2em;
}

.social__item{
    object-fit: contain;
}

