/*--------Hero-----------*/
:root {
    --white: #FFFFFF;
    --navy: #335576;
    --orange: #DB7A4E;
    --light-pink: #FEFAF5;
}

.hero{
    background-color: var(--light-pink);
    padding-top: 3.5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: space-between;
}
.hero__wrapper{
    width: 50%;
    padding-top: 2em;
}

.hero__copy{
    padding: 1.75em 0;
}

.hero__image{
    max-width: 100%;
    width: 40%;
    height: auto;
    object-fit: contain;
}

.btn{
    background-color: var(--orange);
    border: none;
    border-radius: 20px;
    color: var(--white);
    padding: .5em 2.5em;
}

.btn__copy{
    color: var(--white);
    font-weight: 200;
}

.recommendations{
    padding-top: 3em;
    padding-bottom: 4em;
    background-color: var(--white);
    font-size: 1.05em;
}
/*-------------------*/