/*--------Hero-----------*/
:root {
    --white: #FFFFFF;
    --navy: #335576;
    --orange: #DB7A4E;
    --light-pink: #FEFAF5;
}

.hero{
    background-color: var(--light-pink);
    padding-top: 4em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-between;
}
.hero__wrapper{
    width: 40%;
    padding-top: 2em;
}

.hero__copy{
    padding: 1.75em 0;
}

.hero__image{
    max-width: 40%;
    min-width: 30%;
    height: auto;
    object-fit: contain;
}
/*-------------------*/

/*--------Recommendations Section-----------*/
.recommendations{
    padding-top: 3em;
    padding-bottom: 4em;
    background-color: var(--white);
}
/*-------------------*/